-r requirements.txt

# code quality
autopep8~=1.5
black~=21.4b2
coverage~=5.4
pip-audit~=1.0.0
pycodestyle~=2.6
pylint~=2.6

# uploading to pypi
twine~=3.4

# documentation
sphinx~=3.5
sphinx-rtd-theme~=0.5.2

# examples
pyyaml~=5.1.2
