-r requirements.txt

# code quality
autopep8~=1.6
black[jupyter]~=22.6
coverage[toml]~=6.4
pip-audit~=2.4
pycodestyle~=2.9
pylint~=2.14
pyright~=1.1.271
unittest-xml-reporting~=3.2.0
testbook~=0.4

# analyze dependencies
pipdeptree~=2.2

# uploading to pypi
build~=0.8
twine~=4.0

# for sbom.xml file
xq~=0.0

-r docs/requirements.txt
