#
# for the published wheel - the file docs/requirements.txt
# must be kept in sync with this file.
#
# upgrading to 2.2 of backoff raises all kinds of type hint errors so
# this will require more work - stick to 1.11 for now.
backoff~=2.2.1
certifi
flatten-dict~=0.4
iso8601~=2.0
Jinja2~=3.1
pyaml-env~=1.2
requests~=2.31.0
requests-toolbelt~=1.0
rfc3339~=6.2
xmltodict~=0.13

