#
# for the published wheel - the file docs/requirements.txt
# must be kept in sync with this file.
#
backoff~=2.2.1
certifi
flatten-dict~=0.4
iso8601~=2.1
Jinja2~=3.1
pyaml-env~=1.2
requests~=2.32
requests-toolbelt~=1.0
rfc3339~=6.2
xmltodict~=0.14

