#
# this is used for pushing to github pages
#
# Duplicate of stanza in ~/requirements-dev.txt.
# Make changes in both places
sphinx~=4.3
sphinx-rtd-theme~=1.0.0

# Duplicate of stanza in ~/requirements.txt.
# Make changes in both places
backoff~=1.11
certifi
flatten-dict~=0.3
iso8601~=0.1
Jinja2~=3.0
pyaml-env~=1.1
requests~=2.22
requests-toolbelt~=0.9
rfc3339~=6.2
xmltodict~=0.12.0
